# Large generated artifacts
models/*/basis/
models/*/calibration_dataset*/
models/*/quantized_cache*/
models/*/generated_images_*/


# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
logs/*
*.log
models/*/calibration_dataset/
models/*/basis/
models/*/absorb_basis/
models/flux-dev/svdq-fp4_r32-flux.1-dev.safetensors
